In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from imdb import IMDb
%matplotlib inline

im = IMDb()

df = pd.read_csv("bechdel_data_min.csv")

In [5]:

#just a little test to see how imdbpy works
id = df.iloc[4][1]
print id
real_id = int(id[2:])
movie = im.get_movie(real_id)
df.loc[4, 'star_rating'] = movie['rating']
df.head()

tt0453562

,year,imdb,title,clean_test,binary,genre,age_rating,budget_2013$,star_rating,creator,director,cast,writer
0,2013,tt1711425,21 &amp; Over,notalk,FAIL,comedy,R,13000000,NaN,NaN,NaN,NaN,NaN
1,2012,tt1343727,Dredd 3D,ok,PASS,scifi,R,45658735,NaN,NaN,NaN,NaN,NaN
2,2013,tt2024544,12 Years a Slave,notalk,FAIL,drama,R,20000000,NaN,NaN,NaN,NaN,NaN
3,2013,tt1272878,2 Guns,notalk,FAIL,action,R,61000000,NaN,NaN,NaN,NaN,NaN
4,2013,tt0453562,42,men,FAIL,drama,PG13,40000000,7.5,NaN,NaN,NaN,NaN

In [1]:
#movies = dict()
#for i in range (len(df)):
    #id = df.iloc[i][1]
    #real_id = int(id[2:])
    #movie = im.get_movie(real_id)
    #movies[real_id] = movie

the reason the above is commented out is because it takes a very long time to run. 
I did however use this code to get the movie objects

this (below) is also commented out because it ran based on the movies array. It doesn't really
make sense without it.

In [2]:
#def add_zeros(id_number):
#    str_id = str(id_number)  
#    while len(str_id) < 7: 
#        str_id = '0' + str_id     
#    return str_id



#def make_nice(thing):
#    new = []
#    for i in thing:
#        new.append(str(i))
#    return str(new)


#for movie_id in movies:
#    real_movie = movies[movie_id]   
#    df_id = 'tt' + add_zeros(movie_id) 
#    if len(df[df.imdb == df_id].index.values) == 0:
#        continue
#    i = df[df.imdb == df_id].index.values[0]
#    df.ix[i, 'star_rating'] = real_movie.get('rating')   
#    df.ix[i, 'director'] = real_movie['directed by'][0]  
#    df.ix[i, 'cast'] = make_nice(real_movie['actors'][:5])
#    #df.ix[i, 'writer'] = make_nice(real_movie.get('writer'))
#    df.ix[i, 'genre'] = real_movie['genre'][0]

The data from imdbpy is stored in 'complete_movies.csv'

df.to_csv('complete_movies.csv')