In [2]:
import math
import string
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from imdb import IMDb
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
%matplotlib inline


df = pd.read_csv("complete_movies.csv")
df.head()

,year,imdb,title,clean_test,binary,genre,age_rating,budget_2013$,star_rating,director,cast,writer
0,2013,tt1711425,21 &amp; Over,notalk,FAIL,Comedy,R,13000000,5.9,Jon Lucas,"['Miles Teller', 'Skylar Astin', 'Justin Chon'...",NaN
1,2012,tt1343727,Dredd 3D,ok,PASS,Action,R,45658735,7.0,Pete Travis,"['Karl Urban', 'Rachel Wood', 'Andile Mngadi',...","['John Wagner', 'Carlos Ezquerra', 'Alex Garla..."
2,2013,tt2024544,12 Years a Slave,notalk,FAIL,Biography,R,20000000,8.1,Steve McQueen,"['Chiwetel Ejiofor', 'Dwight Henry', 'Dickie G...","['John Ridley', 'Solomon Northup']"
3,2013,tt1272878,2 Guns,notalk,FAIL,Action,R,61000000,6.8,Baltasar Kormákur,"['Denzel Washington', 'Mark Wahlberg', 'Paula ...","['Blake Masters', 'Steven Grant']"
4,2013,tt0453562,42,men,FAIL,Biography,PG13,40000000,7.5,Brian Helgeland,"['Chadwick Boseman', 'Harrison Ford', 'Nicole ...",['Brian Helgeland']

Now as you can see we have data on the imdb star rating of the movie, as well as the writer, director, and cast. I'll now use a decision tree to try to predict based on the rest of the data whether or not a movie will pass the bechdel test.

Categorizing the splits will not be so straightforward for each label

years - split into 5 year periods

ids and titles - keep, but don't analyze

clean_test, binary, genre, rating, and director - use sci-kit's LabelEncoder()

budgets - maybe check the distribution, section into 5 or so levels

star_ratings - make integer cutoffs

cast - going to have to do something special

writer - use the same technique as for cast

In [3]:
#making clean_test, binary, genre, age_rating, and director into ints

lab = preprocessing.LabelEncoder()
categoricals = ['clean_test','binary','genre','age_rating','director']
for categorical in categoricals: df[categorical] = lab.fit_transform(df[categorical])
df.head()

/Users/BREA/anaconda/lib/python2.7/site-packages/numpy/lib/arraysetops.py:198: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

,year,imdb,title,clean_test,binary,genre,age_rating,budget_2013$,star_rating,director,cast,writer
0,2013,tt1711425,21 &amp; Over,2,0,5,5,13000000,5.9,439,"['Miles Teller', 'Skylar Astin', 'Justin Chon'...",NaN
1,2012,tt1343727,Dredd 3D,4,1,1,5,45658735,7.0,671,"['Karl Urban', 'Rachel Wood', 'Andile Mngadi',...","['John Wagner', 'Carlos Ezquerra', 'Alex Garla..."
2,2013,tt2024544,12 Years a Slave,2,0,4,5,20000000,8.1,828,"['Chiwetel Ejiofor', 'Dwight Henry', 'Dickie G...","['John Ridley', 'Solomon Northup']"
3,2013,tt1272878,2 Guns,2,0,1,5,61000000,6.8,65,"['Denzel Washington', 'Mark Wahlberg', 'Paula ...","['Blake Masters', 'Steven Grant']"
4,2013,tt0453562,42,1,0,4,4,40000000,7.5,102,"['Chadwick Boseman', 'Harrison Ford', 'Nicole ...",['Brian Helgeland']

In [4]:
#makes star_ratings into ints

for i in range (len(df)):
    star = df.ix[i,8]
    if not math.isnan(star):
        id = int(star)
        df.ix[i, 8] = id
    else:
        df.ix[i, 8] = -1
        
df

,year,imdb,title,clean_test,binary,genre,age_rating,budget_2013$,star_rating,director,cast,writer
0,2013,tt1711425,21 &amp; Over,2,0,5,5,13000000,5,439,"['Miles Teller', 'Skylar Astin', 'Justin Chon'...",NaN
1,2012,tt1343727,Dredd 3D,4,1,1,5,45658735,7,671,"['Karl Urban', 'Rachel Wood', 'Andile Mngadi',...","['John Wagner', 'Carlos Ezquerra', 'Alex Garla..."
2,2013,tt2024544,12 Years a Slave,2,0,4,5,20000000,8,828,"['Chiwetel Ejiofor', 'Dwight Henry', 'Dickie G...","['John Ridley', 'Solomon Northup']"
3,2013,tt1272878,2 Guns,2,0,1,5,61000000,6,65,"['Denzel Washington', 'Mark Wahlberg', 'Paula ...","['Blake Masters', 'Steven Grant']"
4,2013,tt0453562,42,1,0,4,4,40000000,7,102,"['Chadwick Boseman', 'Harrison Ford', 'Nicole ...",['Brian Helgeland']
5,2013,tt1335975,47 Ronin,1,0,1,4,225000000,6,118,"['Keanu Reeves', 'Hiroyuki Sanada', 'Ko Shibas...","['Chris Morgan', 'Hossein Amini', 'Chris Morga..."
6,2013,tt1606378,A Good Day to Die Hard,2,0,1,5,92000000,5,425,"['Bruce Willis', 'Jai Courtney', 'Sebastian Ko...","['Skip Woods', 'Roderick Thorp']"
7,2013,tt2194499,About Time,4,1,8,5,12000000,7,715,"['Domhnall Gleeson', 'Rachel McAdams', 'Bill N...",['Richard Curtis']
8,2013,tt1814621,Admission,4,1,5,4,13000000,5,665,"['Tina Fey', 'Ann Harada', 'Ben Levin', 'Dan L...","['Karen Croner', 'Jean Hanff Korelitz']"
9,2013,tt1815862,After Earth,2,0,1,4,130000000,4,527,"['Jaden Smith', 'Will Smith', 'Sophie Okonedo'...",NaN
10,2013,tt1800241,American Hustle,4,1,6,5,40000000,7,198,"['Christian Bale', 'Bradley Cooper', 'Amy Adam...","['Eric Warren Singer', 'David O. Russell']"
11,2013,tt1322269,August: Osage County,4,1,8,5,25000000,7,434,"['Meryl Streep', 'Julia Roberts', 'Chris Coope...","['Tracy Letts', 'Tracy Letts']"
12,2013,tt1559547,Beautiful Creatures,4,1,8,4,50000000,6,722,"['Alden Ehrenreich', 'Alice Englert', 'Jeremy ...","['Richard LaGravenese', 'Kami Garcia', 'Margar..."
13,2013,tt2334873,Blue Jasmine,4,1,8,4,18000000,7,922,"['Cate Blanchett', 'Joy Carlin', 'Richard Cont...",['Woody Allen']
14,2013,tt1535109,Captain Phillips,2,0,4,4,55000000,7,657,"['Tom Hanks', 'Catherine Keener', 'Barkhad Abd...","['Billy Ray', 'Richard Phillips', 'Stephan Tal..."
15,2013,tt1939659,Carrie,4,1,8,5,30000000,6,497,"['Julianne Moore', 'Chlo\xc3\xab Grace Moretz'...","['Lawrence D. Cohen', 'Roberto Aguirre-Sacasa'..."
16,2013,tt1985966,Cloudy with a Chance of Meatballs 2,3,0,3,3,78000000,6,152,"['Bill Hader', 'Anna Faris', 'James Caan', 'Wi...","['Erica Rivinoja', 'John Francis Daley', 'Jona..."
17,2013,tt1690953,Despicable Me 2,4,1,3,3,76000000,7,695,"['Steve Carell', 'Kristen Wiig', 'Benjamin Bra...","['Cinco Paul', 'Ken Daurio']"
18,2013,tt2229499,Don Jon,0,0,5,5,5500000,6,455,"['Joseph Gordon-Levitt', 'Scarlett Johansson',...",['Joseph Gordon-Levitt']
19,2013,tt1535108,Elysium,4,1,1,5,120000000,6,626,"['Matt Damon', 'Jodie Foster', 'Sharlto Copley...",['Neill Blomkamp']
20,2013,tt1731141,Ender&#39;s Game,1,0,1,4,110000000,6,280,"['Asa Butterfield', 'Harrison Ford', 'Hailee S...","['Gavin Hood', 'Orson Scott Card']"
21,2013,tt0848537,Epic,4,1,3,3,100000000,6,137,"['Blake Anderson', 'Aziz Ansari', 'Allison Bil...","['James V. Hart', 'William Joyce', 'Daniel She..."
22,2013,tt0765446,Escape from Planet Earth,4,1,3,3,40000000,5,115,"['Brendan Fraser', 'Rob Corddry', 'Ricky Gerva...","['Bob Barlen', 'Cal Brunker', 'Tony Leech', 'C..."
23,2013,tt1211956,Escape Plan,1,0,1,5,70000000,6,600,"['Sylvester Stallone', 'Arnold Schwarzenegger'...",NaN
24,2013,tt1288558,Evil Dead,4,1,11,5,17000000,6,249,"['Jane Levy', 'Shiloh Fernandez', 'Lou Taylor ...","['Fede Alvarez', 'Rodo Sayagues', 'Sam Raimi']"
25,2013,tt1905041,Fast and Furious 6,4,1,1,4,160000000,7,472,"['Vin Diesel', 'Paul Walker', 'Dwayne Johnson'...","['Chris Morgan', 'Gary Scott Thompson']"
26,2013,tt2294629,Frozen,4,1,3,3,150000000,7,128,"['Kristen Bell', 'Idina Menzel', 'Jonathan Gro...","['Jennifer Lee', 'Hans Christian Andersen', 'C..."
27,2013,tt1583421,G.I. Joe: Retaliation,4,1,1,4,140000000,5,440,"['Dwayne Johnson', 'Jonathan Pryce', 'Byung-hu...","['Rhett Reese', 'Paul Wernick']"
28,2013,tt1321870,Gangster Squad,2,0,1,5,60000000,6,767,"['Sean Penn', 'Holt McCallany', 'Wade Williams...","['Will Beall', 'Paul Lieberman']"
29,2013,tt2425486,Gloria,4,1,5,5,30000000,6,794,"['Paulina Garc\xc3\xada', 'Sergio Hern\xc3\xa1...","['Sebasti\xc3\xa1n Lelio', 'Gonzalo Maza']"
...,...,...,...,...,...,...,...,...,...,...,...,...
1760,1976,tt0075148,Rocky,2,0,8,0,4091827,8,408,"['Sylvester Stallone', 'Talia Shire', 'Burt Yo...",['Sylvester Stallone']
1761,1976,tt0075222,Silent Movie,2,0,5,0,18004040,6,564,"['Mel Brooks', 'Marty Feldman', 'Dom DeLuise',...","['Mel Brooks', 'Ron Clark', 'Rudy De Luca', 'B..."
1762,1976,tt0075249,Sparkle,4,1,8,3,40918272,7,776,"['Philip Michael Thomas', 'Irene Cara', 'Lonet...","['Howard Rosenman', 'Joel Schumacher']"
1763,1976,tt0075314,Taxi Driver,2,0,6,0,4091827,8,552,"['Diahnne Abbott', 'Frank Adu', 'Victor Argo',...",['Paul Schrader']
1764,1975,tt0072684,Barry Lyndon,2,0,2,0,47609104,8,813,"[""Ryan O'Neal"", 'Marisa Berenson', 'Patrick Ma...","['Stanley Kubrick', 'William Makepeace Thacker..."
1765,1975,tt0073195,Jaws,2,0,8,0,51937204,8,838,"['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...",NaN
1766,1975,tt0071853,Monty Python and the Holy Grail,1,0,2,0,1731240,8,857,"['Graham Chapman', 'John Cleese', 'Eric Idle',...","['Graham Chapman', 'John Cleese', 'Eric Idle',..."
1767,1975,tt0073486,One Flew Over the Cuckoo&#39;s Nest,1,0,8,0,19043641,8,611,"['Michael Berryman', 'Peter Brocco', 'Dean R. ...",NaN
1768,1975,tt0073629,The Rocky Horror Picture Show,0,0,5,0,5193720,7,384,"['Tim Curry', 'Susan Sarandon', 'Barry Bostwic...",NaN
1769,1974,tt0071222,Black Christmas,4,1,11,5,42513535,7,88,"['Olivia Hussey', 'Keir Dullea', 'Margot Kidde...",['Roy Moore']
1770,1974,tt0071230,Blazing Saddles,2,0,5,0,12281688,7,564,"['Cleavon Little', 'Gene Wilder', 'Slim Picken...","['Mel Brooks', 'Norman Steinberg', 'Andrew Ber..."
1771,1974,tt0071360,The Conversation,2,0,8,0,7557962,7,256,"['Gene Hackman', 'John Cazale', 'Allen Garfiel...",['Francis Ford Coppola']
1772,1974,tt0071562,The Godfather: Part II,4,1,6,5,61408439,9,256,"['Al Pacino', 'Robert Duvall', 'Diane Keaton',...","['Francis Ford Coppola', 'Mario Puzo', 'Mario ..."
1773,1974,tt0072271,The Texas Chain Saw Massacre,2,0,11,0,661322,7,870,"['Marilyn Burns', 'Allen Danziger', 'Paul A. P...","['Kim Henkel', 'Tobe Hooper']"
1774,1974,tt0072308,The Towering Inferno,2,0,1,0,661322,6,411,"['Steve McQueen', 'Paul Newman', 'William Hold...","['Richard Martin Stern', 'Thomas N. Scortia', ..."
1775,1974,tt0072431,Young Frankenstein,1,0,5,0,13226433,8,564,"['Gene Wilder', 'Peter Boyle', 'Marty Feldman'...","['Gene Wilder', 'Mel Brooks', 'Mary Shelley']"
1776,1973,tt0069704,American Graffiti,1,0,5,0,4074506,7,288,"['Richard Dreyfuss', 'Ron Howard', 'Paul Le Ma...","['George Lucas', 'Gloria Katz', 'Willard Huyck']"
1777,1973,tt0068699,High Plains Drifter,2,0,17,0,82329139,7,150,"['Clint Eastwood', 'Verna Bloom', 'Marianna Hi...","['Ernest Tidyman', 'Dean Riesner']"
1778,1973,tt0070707,Sleeper,2,0,5,0,10487788,7,922,"['Woody Allen', 'Diane Keaton', 'John Beck', '...","['Woody Allen', 'Marshall Brickman']"
1779,1973,tt0070047,The Exorcist,4,1,11,5,62926730,8,917,"['Ellen Burstyn', 'Max von Sydow', 'Lee J. Cob...",NaN
1780,1973,tt0070735,The Sting,2,0,5,0,28841418,8,291,"['Paul Newman', 'Robert Redford', 'Robert Shaw...",['David S. Ward']
1781,1972,tt0068156,1776,2,0,8,0,22288557,7,676,"['William Daniels', 'Howard Da Silva', 'Ken Ho...","['Sherman Edwards', 'Peter Stone', 'Peter Stone']"
1782,1972,tt0069089,Pink Flamingos,4,1,5,5,66866,6,433,"['Divine', 'David Lochary', 'Mary Vivian Pearc...",['John Waters']
1783,1972,tt0068646,The Godfather,2,0,6,0,39004975,9,256,"['Marlon Brando', 'Al Pacino', 'James Caan', '...","['Mario Puzo', 'Francis Ford Coppola', 'Mario ..."
1784,1971,tt0067065,Escape from the Planet of the Apes,2,0,1,0,14386286,6,222,"['Roddy McDowall', 'Kim Hunter', 'Bradford Dil...","['Paul Dehn', 'Pierre Boulle']"
1785,1971,tt0067741,Shaft,2,0,1,0,305063707,6,302,"['Richard Roundtree', 'Moses Gunn', 'Charles C...","['Ernest Tidyman', 'John D.F. Black', 'Ernest ..."
1786,1971,tt0067800,Straw Dogs,2,0,6,0,143862856,7,777,"['Dustin Hoffman', 'Susan George', 'Peter Vaug...","['David Zelag Goodman', 'Sam Peckinpah', 'Gord..."
1787,1971,tt0067116,The French Connection,2,0,1,0,12659931,7,917,"['Gene Hackman', 'Fernando Rey', 'Roy Scheider...","['Ernest Tidyman', 'Robin Moore', 'Howard Hawks']"
1788,1971,tt0067992,Willy Wonka &amp; the Chocolate Factory,1,0,9,0,17263543,7,567,"['Gene Wilder', 'Jack Albertson', 'Peter Ostru...","['Roald Dahl', 'Roald Dahl', 'David Seltzer']"
1789,1970,tt0065466,Beyond the Valley of the Dolls,4,1,5,5,5997631,6,771,"['Dolly Read', 'Cynthia Myers', 'Marcia McBroo...",NaN

In [5]:
#puts years into year ranges

for i in range (len(df)):
    year = df.ix[i,0]
    #gets decade
    new_year = (year % 100) - (year % 10)
    #rounds new_year to the nearest half decade
    if year%10 >= 5:
        new_year += 5
    df.ix[i,0] = new_year

In [6]:
# makes actor/writer strings back into arrays of actors/writers

def string_to_arr(thing):
    thing = string.replace(thing,"'", "")
    thing = string.replace(thing,"[","")
    thing = string.replace(thing,"]","")
    new = string.split(thing, ',')
    return new

#first set all the nans to ""

df.cast.fillna("", inplace=True)
df.writer.fillna("", inplace=True)

#dataframes don't store arrays well, so i'll make a separate array of arrays

actor_array = []
writer_array = [] 
for i in range (len(df)):
    actor_array.append(string_to_arr(df.ix[i,10]))
    writer_array.append(string_to_arr(df.ix[i,11]))

Next I'll tackle how to tell how influential an actor or writer might be in the passing of a movie. I'm going to make a dictionary with actors as keys, and an array of 1s and 0s as values. Each 1 represents a passing movie the actor has appeared in, while each 0 represents a fail. Then I can easily check for any given actor what percentage of their movies has passed the test. I'll do the same for writers

In [7]:
def make_into_dict(arr, df):
    dictionary = {}
    for i in range(len(arr)):
        #verdict is 1 for pass, 0 for fail 
        verdict = df.ix[i,4]
        #gets the cast list for movie index i 
        people = arr[i]
        for person in people:
            #puts a person in the dictionary and/or adds their passing/failing movie
            if person in dictionary:
                dictionary[person].append(verdict)
            else:
                dictionary[person] = [verdict]
    return dictionary

In [8]:
# Making the actual dictionaries for actors and writers

actor_pass_dict = make_into_dict(actor_array, df)
writer_pass_dict = make_into_dict(writer_array, df)

In [9]:
# Dividing the budget_2013$ by 1000 so it can fit into int32 format

for i in range (len(df)):
    budget = df.ix[i,7]
    if not math.isnan(budget):
        df.ix[i,7] = budget/1000
    else:
        df.ix[i,7] = 10

In [10]:
#Checking to make sure all NaN's are filled

df.isnull().any()

year            False
imdb            False
title           False
clean_test      False
binary          False
genre           False
age_rating      False
budget_2013$    False
star_rating     False
director        False
cast            False
writer          False
dtype: bool

Actually Analyzing the Data, Constructing a Decision Tree

In [11]:
df_new = df.drop(['imdb','title','clean_test','cast','writer'], axis = 1)
feature_cols = df_new.drop(['binary'], axis = 1).columns 
#all but the imdb, title, binary, cast, writer columns
X = df_new[feature_cols] # have to add in the other columns from arrays
y = df_new.binary

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print X_train
print y_train
print X_test
print y_test
df_new

[[  5.00000000e+00   3.00000000e+00   0.00000000e+00   1.08573000e+05
    7.00000000e+00   6.90000000e+02]
 [  5.00000000e+00   3.00000000e+00   3.00000000e+00   2.08780000e+04
    6.00000000e+00   1.57000000e+02]
 [  1.00000000e+01   1.00000000e+00   4.00000000e+00   1.81599000e+05
    7.00000000e+00   4.38000000e+02]
 ...,
 [  0.00000000e+00   6.00000000e+00   4.00000000e+00   5.43970000e+04
    6.00000000e+00   1.17000000e+02]
 [  1.00000000e+01   3.00000000e+00   3.00000000e+00   1.55353000e+05
    7.00000000e+00   3.76000000e+02]
 [  0.00000000e+00   2.00000000e+00   5.00000000e+00   8.22950000e+04
    6.00000000e+00   7.61000000e+02]]
[0 1 1 ..., 1 1 1]
[[  0.00000000e+00   8.00000000e+00   0.00000000e+00   9.90910000e+04
    7.00000000e+00   5.27000000e+02]
 [  5.00000000e+00   3.00000000e+00   0.00000000e+00   1.94806000e+05
    8.00000000e+00   4.30000000e+01]
 [  5.00000000e+00   5.00000000e+00   4.00000000e+00   4.04520000e+04
    6.00000000e+00   1.90000000e+02]
 ...,
 [  9.50000000e+01   5.00000000e+00   5.00000000e+00   3.82000000e+02
    6.00000000e+00   5.35000000e+02]
 [  0.00000000e+00   6.00000000e+00   0.00000000e+00   1.08230000e+04
    7.00000000e+00   5.53000000e+02]
 [  5.00000000e+00   8.00000000e+00   5.00000000e+00   1.78950000e+04
    7.00000000e+00   9.22000000e+02]]
[0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1
 1 1 1 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 1 1 0 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1
 1 0 1 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 1 1
 0 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 1 0 0 1 1
 1 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 1 1 1 1 1 0 1 0 0 1 1 1 1 0 0 0 0 0 0 0
 0 1 1 1 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1 0 0 1 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1
 1 1 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1
 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0
 1 0 1 0 0 0 1 0 1 1 1 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 0 1 0 1 0
 0 1 0 0 0 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 1 0 1 0 0 1 0 0 1 0 1 1 1 0 1 1 1
 0 1 1 0 0 1 0 1 0 0 1 0 1 1 1 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 1
 1 0 0 0 0 1 0 0 0 1 1 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 1 1 1 0 0 1 1 1 1 0
 1 1 0 1]

      year  binary  genre  age_rating  budget_2013$  star_rating  director
0       10       0      5           5         13000            5       439
1       10       1      1           5         45658            7       671
2       10       0      4           5         20000            8       828
3       10       0      1           5         61000            6        65
4       10       0      4           4         40000            7       102
5       10       0      1           4        225000            6       118
6       10       0      1           5         92000            5       425
7       10       1      8           5         12000            7       715
8       10       1      5           4         13000            5       665
9       10       0      1           4        130000            4       527
10      10       1      6           5         40000            7       198
11      10       1      8           5         25000            7       434
12      10       1      8           4         50000            6       722
13      10       1      8           4         18000            7       922
14      10       0      4           4         55000            7       657
15      10       1      8           5         30000            6       497
16      10       0      3           3         78000            6       152
17      10       1      3           3         76000            7       695
18      10       0      5           5          5500            6       455
19      10       1      1           5        120000            6       626
20      10       0      1           4        110000            6       280
21      10       1      3           3        100000            6       137
22      10       1      3           3         40000            5       115
23      10       0      1           5         70000            6       600
24      10       1     11           5         17000            6       249
25      10       1      1           4        160000            7       472
26      10       1      3           3        150000            7       128
27      10       1      1           4        140000            5       440
28      10       0      1           5         60000            6       767
29      10       1      5           5         30000            6       794
...    ...     ...    ...         ...           ...          ...       ...
1760    75       0      8           0          4091            8       408
1761    75       0      5           0         18004            6       564
1762    75       1      8           3         40918            7       776
1763    75       0      6           0          4091            8       552
1764    75       0      2           0         47609            8       813
1765    75       0      8           0         51937            8       838
1766    75       0      2           0          1731            8       857
1767    75       0      8           0         19043            8       611
1768    75       0      5           0          5193            7       384
1769    70       1     11           5         42513            7        88
1770    70       0      5           0         12281            7       564
1771    70       0      8           0          7557            7       256
1772    70       1      6           5         61408            9       256
1773    70       0     11           0           661            7       870
1774    70       0      1           0           661            6       411
1775    70       0      5           0         13226            8       564
1776    70       0      5           0          4074            7       288
1777    70       0     17           0         82329            7       150
1778    70       0      5           0         10487            7       922
1779    70       1     11           5         62926            8       917
1780    70       0      5           0         28841            8       291
1781    70       0      8           0         22288            7       676
1782    70       1      5           5            66            6       433
1783    70       0      6           0         39004            9       256
1784    70       0      1           0         14386            6       222
1785    70       0      1           0        305063            6       302
1786    70       0      6           0        143862            7       777
1787    70       0      1           0         12659            7       917
1788    70       0      9           0         17263            7       567
1789    70       1      5           5          5997            6       771

[1790 rows x 7 columns]

In [12]:
from sklearn.tree import DecisionTreeRegressor
treereg = DecisionTreeRegressor(random_state=1)
treereg.fit(X_train, y_train)

DecisionTreeRegressor(compute_importances=None, criterion='mse',
           max_depth=None, max_features=None, max_leaf_nodes=None,
           min_density=None, min_samples_leaf=1, min_samples_split=2,
           random_state=1, splitter='best')

In [13]:
preds = treereg.predict(X_test)

print preds
print y_test

[ 0.  0.  1.  0.  0.  0.  0.  0.  1.  0.  1.  1.  0.  0.  0.  1.  0.  0.
  0.  1.  0.  1.  0.  1.  1.  0.  1.  0.  0.  1.  1.  0.  0.  1.  0.  0.
  1.  1.  1.  1.  0.  1.  0.  0.  0.  1.  0.  0.  1.  0.  1.  1.  1.  0.
  1.  0.  1.  1.  0.  0.  1.  1.  0.  1.  1.  0.  1.  1.  0.  0.  0.  0.
  0.  1.  1.  0.  1.  0.  0.  1.  0.  0.  1.  1.  0.  1.  0.  0.  1.  0.
  1.  0.  0.  1.  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  0.
  1.  1.  1.  0.  1.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.
  1.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  1.  1.  0.  0.  0.  0.  1.
  0.  0.  1.  1.  1.  0.  0.  0.  0.  1.  1.  0.  0.  1.  1.  0.  0.  0.
  0.  0.  1.  1.  1.  1.  1.  0.  0.  1.  0.  0.  1.  1.  1.  1.  0.  0.
  0.  0.  0.  0.  0.  0.  1.  1.  1.  1.  0.  0.  0.  1.  1.  0.  0.  1.
  1.  1.  1.  1.  0.  1.  0.  0.  1.  0.  0.  1.  1.  1.  1.  0.  1.  0.
  1.  0.  1.  1.  0.  1.  1.  1.  0.  0.  1.  1.  0.  0.  1.  1.  1.  0.
  0.  0.  0.  1.  0.  1.  0.  1.  1.  0.  0.  0.  1.  1.  0.  0.  0.  1.
  0.  1.  0.  1.  0.  0.  1.  0.  0.  0.  0.  0.  1.  0.  1.  1.  0.  0.
  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  1.  0.  1.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  1.  1.  1.  0.  1.  0.  0.  0.  1.  0.  1.  1.
  1.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.  1.  1.  1.  0.  0.  0.  0.
  1.  0.  1.  1.  0.  1.  0.  1.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.
  1.  1.  0.  1.  1.  0.  0.  1.  1.  1.  0.  1.  0.  1.  0.  0.  1.  0.
  0.  1.  0.  1.  1.  0.  0.  1.  1.  1.  0.  1.  1.  0.  0.  1.  0.  1.
  0.  0.  1.  0.  1.  1.  1.  0.  1.  1.  1.  0.  1.  0.  0.  0.  0.  1.
  0.  0.  0.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.  0.  1.  0.
  0.  0.  1.  1.  1.  0.  1.  1.  1.  1.  1.  0.  1.  0.  1.  0.  0.  1.
  1.  1.  0.  1.  0.  0.  0.  1.  1.  1.  1.  0.  1.  1.  0.  1.]
[0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1
 1 1 1 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 1 1 0 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1
 1 0 1 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 1 1
 0 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 1 0 0 1 1
 1 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 1 1 1 1 1 0 1 0 0 1 1 1 1 0 0 0 0 0 0 0
 0 1 1 1 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1 0 0 1 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1
 1 1 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1
 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0
 1 0 1 0 0 0 1 0 1 1 1 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 0 1 0 1 0
 0 1 0 0 0 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 1 0 1 0 0 1 0 0 1 0 1 1 1 0 1 1 1
 0 1 1 0 0 1 0 1 0 0 1 0 1 1 1 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 1
 1 0 0 0 0 1 0 0 0 1 1 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 1 1 1 0 0 1 1 1 1 0
 1 1 0 1]

In [14]:
from sklearn import metrics
import numpy as np
np.sqrt(metrics.mean_squared_error(y_test, preds))

0.2004459314343183

In [32]:
from sklearn.cross_validation import cross_val_score
treereg = DecisionTreeRegressor(max_depth=14, random_state=1)
scores = cross_val_score(treereg, X, y, cv=3, scoring='mean_squared_error')
np.mean(np.sqrt(-scores))

0.16925112066535353

In [63]:
treereg = DecisionTreeRegressor(max_depth=14, random_state=1)
treereg.fit(X, y)

DecisionTreeRegressor(compute_importances=None, criterion='mse', max_depth=14,
           max_features=None, max_leaf_nodes=None, min_density=None,
           min_samples_leaf=1, min_samples_split=2, random_state=1,
           splitter='best')

In [64]:
pd.DataFrame({'feature':feature_cols, 'importance':treereg.feature_importances_})

        feature  importance
0          year    0.007426
1         genre    0.004572
2    age_rating    0.933641
3  budget_2013$    0.026643
4   star_rating    0.011545
5      director    0.016174

In [65]:
#Seems like age_rating, budget, director, and 
#star_rating matter more

!ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
!brew install libtool
!brew install graphviz

It appears Homebrew is already installed. If your intent is to reinstall you
should do the following before running this installer again:
    rm -rf /usr/local/Cellar /usr/local/.git && brew cleanup
Warning: libtool-2.4.6 already installed
Warning: graphviz-2.38.0 already installed

In [66]:
from sklearn.tree import export_graphviz
with open("bechdel.dot", 'wb') as f:
    f = export_graphviz(treereg, out_file=f, feature_names=feature_cols)